server:
  port: 9090  # Server port setting

spring:
  application:
    name: instagram

  datasource:
    url: jdbc:mysql://localhost:3306/insta?serverTimezone=Asia/Seoul&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver  # MySQL 8.x driver class

  jpa:
    hibernate:
      ddl-auto: update  # Automatically create/update tables
    show-sql: true  # Show SQL queries in console
    open-in-view: false # Disable open-in-view for JPA

jwt:
  secret: mySuperSecretKey123
  expiration: 86400000

  servlet:
    multipart:
      enabled: true
      max-file-size: 2MB  # Max upload file size

  mustache:
    expose-session-attributes: true  # Allow session attributes in Mustache

file:
  path: D:/Springboot-Instagram/upload/  # Upload file path
